%h1 Users list
%table
  %thead
    %tr
      %td
        Email
  %tbody
    - @users.each do |user|
      %tr
        %td
          %a{:href => "/users/#{user[:id]}/edit"} = user[:email]
        %td
          %a{:href => "/users/#{user[:id]}/delete"} Delete

%a{:href => "/users/add"} Agregar
