!!!
%html
  %head
    %link{ :href => "/style/general.css", :rel => "stylesheet", :type => "text/css" }
    = yield_content :scripts_and_styles
  %body
    - if Rack.const_defined?('Flash') && flash[:notice]
      = flash[:notice]
    - if defined?(@errors) && !@errors.empty?
      %div{:class => "error"}
        - @errors.full_messages.each do |error|
          %span "#{error}"
        %div{:class => "clear"}
    = yield
